.bg-blue {
  background: #e0ebff;
  border: 1px dotted #85b0ff;
}

.bg-purple {
  background: #d8d6ff;
  border: 1px dotted #444;
}

.bg-grey {
  background: #444;
  color: #f4f4f4;
}

.bg-black {
  background: #444;
  color: #f4f4f4;
}
